.dashboard {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
}
.dashboard-container {
  height: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;
}
.right {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80%;
  padding: 2vmax 2vmax;
}
.left {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 18%;
  box-shadow: 2px 2px 10px grey;
  z-index: 1;
}

.statics {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.graphs {
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.lineChart {
  width: 40vmax;
  margin: auto;
}
.doughnutChart {
  width: 25vmax;
  margin: auto;
}

.dashboardSummary {
  margin: 2rem 0;
}

.dashboardSummary > div {
  display: flex;
  background-color: white;
  justify-content: center;
}
.dashboardSummary > div > p {
  background-color: rgba(70, 117, 218, 0.932);
  color: white;
  font: 300 1.3rem "Roboto";
  text-align: center;
  padding: 1.5rem;
  width: 100%;
  margin: 0 2rem;
}
.dashboardSummaryBox2 > a {
  color: rgb(0, 0, 0);
  font: 300 2rem "Roboto";
  text-align: center;
  background-color: rgb(255, 233, 174);
  text-decoration: none;
  padding: 1.5rem;
  width: 10vmax;
  height: 10vmax;
  margin: 2rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboardSummaryBox2 > a:first-child {
  background-color: rgb(255, 110, 110);
  color: rgb(255, 255, 255);
}

.dashboardSummaryBox2 > a:last-child {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 600px) {
  .dashboard {
    grid-template-columns: 1fr;
  }

  .dashboardContainer {
    border-left: none;
  }

  .dashboardSummary > div > p {
    margin: 0;
  }

  .dashboardSummaryBox2 > a {
    padding: 0.5rem;
    margin: 1rem;
    font: 300 0.9rem "Roboto";
  }
}
@media screen and (max-width: 400px) {
  .lineChart {
    width: 90%;
  }
  .doughnutChart {
    width: 80%;
  }
}
