.productListContainer {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-left: 1px solid rgba(0, 0, 0, 0.158);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#productListHeading {
  font: 400 2rem "Roboto";
  padding: 0.5vmax;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.637);
  transition: all 0.5s;
  margin: 2rem;
  text-align: center;
}
.productListContainer > section {
  display: flex;
  flex-wrap: wrap;
  margin: 2vmax;
}
.card {
  width: 15vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}
.card:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  transform: translateY(-1vmax);
}
.card > P {
  margin: 0.1 vmax 0;
  font-size: 1vmax;
}
.card > span > p {
  margin: 0.2vmax 0;
  font-size: 0.8vmax;
}
.buttonContainer {
  margin: 1vmax 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5vmax;
}
.buttonContainer > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: none;
  padding: 0.2vmax 0.8vmax;
  border-radius: 1.5vmax;
}

@media screen and (max-width: 600px) {
}
